// Variables for colors and other styles
$primary-color: #f8faff;
$secondary-color: #122b38;
$button-background: #122b38;
$button-hover:#f2682e;
$button-color: #fff;
$font-family: "Montserrat", sans-serif;

.splash-main {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: $font-family;
    background-color: $primary-color;
  
    .bg-top-right,
    .bg-bottom-left {
      position: absolute;
      z-index: 1;
    }
  
    .bg-top-right {
        top: -303px;
        right: -59px;
        width:460px;
    }
  
    .bg-bottom-left {
        bottom: -140px;
        left: -71px;
        width: 600px;
    }
  
    .content-outer {
      position: relative;
      z-index: 2;
      text-align: center;
  
      .logo {
        width: 90px;
        height: auto;
        margin-bottom: 20px;
      }
  
      .main-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 15px 25px;
  
        .signin-btn,
        .register-btn {
          background-color: $button-background;
          color: $button-color;
          border: none;
          padding: 10px 20px;
          cursor: pointer;
          font-size: 16px;
          font-family: $font-family;
          border-radius: 5px;
          font-weight: 600;
          transition: background-color 0.3s ease;
  
          &:hover {
            background-color: $button-hover;
          }
        }
      }
    }
  }


  @media (max-width: 768px) {
    .splash-main {
        .bg-top-right { 
            width:454px;
        }
      
        .bg-bottom-left {
            bottom: -80px;
            left: -70px;
            width: 300px;
        }

    }
  }

  @media (max-width: 540px) {
    .splash-main {
        .bg-top-right {
            width:454px;
        }
        .bg-bottom-left {
            bottom: -80px;
            left: -70px;
            width: 300px;
        }
        .content-outer { 
            padding: 20px;
            .logo {
                width: 64px;
            }
           
       }
    }
  }